<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titulo }}</title>
    </head>
    <body>
        <main>
            <h1>{{ titulo }}</h1>
            <ul>
                <li>Es un framework para crear aplicaciones web</li>
                <li>Su comunidad es gigante</li>
            </ul>
        </main>
        <footer>
            Hecho en el año {{ año }}
        </footer>
    </body>
</html>
